<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervisor_account</mat-icon>
  </button>
  <span>Grocery Inventory Management</span>
  <span class="example-spacer"></span>
  <a [routerLink]="['/products/']"><button mat-raised-button color="primary" >Products</button></a>
  <button [routerLink]="['/suppliers/']" mat-raised-button color="primary" >Suppliers</button>
  <button [routerLink]="['/customers/']" mat-raised-button color="primary" >Customers</button>
  <button [routerLink]="['/orders/']" mat-raised-button color="primary" >Orders</button>
</mat-toolbar>


<router-outlet></router-outlet>
