table {
    width: 100%;
    background-color:rgb(173, 227, 218);
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;

  }

  